body {
    background: #000000;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
}

.navbar {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-links li a:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    width: max-content;
    height: 200px;
    padding: 210px;
}

h1 {
    letter-spacing: 4px;
    margin-bottom: 50px;
}


.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 100px;
}


.review-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}




.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}


.food-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.food-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;   
}

.stars {
    font-size: 22px;
    margin: 8px 0;
    color: gold;
    letter-spacing: 1px;
    text-align: left;   
}

.food-review {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
    text-align: left;   
}


#toTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0026ff;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    z-index: 999;
}