body {
    background: #000000;
    color: #fff;
    font-family: "Brush Script MT", cursive;
    text-align: center;
    padding-top: 40px;
}

.container {
    display: flex;
    width: max-content;
    height: 200px;
    padding: 210px;
}

h1 {
    letter-spacing: 4px;
    margin-bottom: 50px;
}


.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 100px;
}


.review-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}




.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}


.food-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.food-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;   
}

.stars {
    font-size: 22px;
    margin: 8px 0;
    color: gold;
    letter-spacing: 1px;
    text-align: left;   
}

.food-review {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
    text-align: left;   
}


#toTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0026ff;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    z-index: 999;
}