body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.container {
    width: 80%;
    margin: auto;
    border: 2px solid white;
    padding: 40px;
}

h1 {
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.testimoni {
    margin-bottom: 50px;
}

.judul {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.isi {
    max-width: 300px;
    margin: auto;
    line-height: 1.5;
    font-size: 14px;
}

.nama {
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
}