* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #000;
    color: white;
    min-height: 200vh;
}


.navbar {
    width: 100%;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);

    z-index: 1000;
}

.logo {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-links li a:hover {
    opacity: 0.7;
}


.contact-container {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.contact-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 40px;
}

.contact-form {
    max-width: 700px;
    margin: auto;
}

.input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.input-box {
    flex: 1;
    text-align: left;
}

.input-box label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    opacity: 0.8;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

.submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #1fb6d9;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    opacity: 0.8;
}


.info-section {
    margin-top: 80px;
    background: #111;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-box {
    width: 250px;
    text-align: center;
}

.icon {
    width: 70px;
    height: 70px;
    background: #1fb6d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto 20px;
}

.info-box h3 {
    margin-bottom: 10px;
}

.info-box p {
    opacity: 0.8;
    margin-bottom: 5px;
}
