body {
    background-color: #000;   
    color: white;             
    font-family: sans-serif;  
}

.judul {
    text-align: center;
    text-decoration: none;
    color: white;
}


.btn-kembali {
    display: inline-block;
    margin-left: 20px;
    padding: 8px 16px;
    background-color: #222;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}

.btn-kembali:hover {
    background-color: #444;
    transform: scale(1.05);
}


.menu-list {
    list-style-position: inside;
    padding: 0;
    width: 300px;
    margin: auto;
}

.menu-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
