body {
    background-color: #000;   
    color: white;             
    font-family: sans-serif;
    padding-top: 80px; 
}

.navbar {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-links li a:hover {
    opacity: 0.7;
}

.judul {
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu-list {
    list-style-position: inside;
    padding: 0;
    width: 300px;
    margin: auto;
}

.menu-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
